*{
    margin: 0;
    padding: 0;
    color: #000;
}
ul{
    list-style: none;
}
body{
    background-color: #728aad;
}
.content-head{
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(217, 235, 243);
    
}
.menu-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}
.menu{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.menuSection{
    
    padding: 10px 15px;
    border-radius: 5px;
}
.menuSection:hover{
    color: #cedae6;
    cursor: pointer;
    background-color: #728aad;
    transition: .6s;
}
.menuSection a{
    text-decoration: none;
}

.head{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.507) 0%, rgba(251, 194, 235, 0.541) 100%),url(../sources/backphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/*busqueda de pagina*/
.sea{
    height: 100%;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: center;
}
input{
border: none;
border-bottom: solid 1px #000;
background-color: transparent;
text-shadow: none;
height: 30px;
width: 200px;
font-size: 17px;
max-width: 60%;
}
input:focus{
    outline: none;
    font-size: 20px;
    transition: 1s;
    width: 300px;
}
button{
    border: none;
    border-radius: 5px;
    background-color: #728aad;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    color: #fff;
}
button:hover{
    color: #000;
    transition: .6s;
    cursor: pointer;
}

.title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 115px;
    font-weight: 600;
    color: #fff;
}
.content{
    width: 80%;
    max-width: 1800px;
    margin: auto;
    padding: 0 20px;
}
.welcome{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.subtitulo{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 40px;
    font-size: 35px;
}
.lorem{
    padding-top: 30px;
    width: 45%;
}
iframe{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}